*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(170deg, rgb(150, 200, 214) -40%, rgba(68, 165, 203, 0.95) 64%, rgba(255, 250, 250, 0.85) 64%, rgba(255, 250, 250, 0.85) 100%), url('../_images/BG.svg');
   /* background-image:linear-gradient(170deg ,rgba(135, 211, 236, 0.858),10%,rgb(110, 187, 217,.99),64%,rgb(34, 167, 211),64%,rgba(255, 250, 250, 0.707)80%), url(illustrate.jpg);*/
    background-position: center;
    background-size: cover; 
    display: inline-block;
}
.container{
    width: 100%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
h4{
    color: white;
    font-size: 24px;
    padding: 16px 0px 16px 0;
    font-weight: 700;
    margin:50px 0 20px 300px ;
}
.box{
    padding: 30px;
    margin: 20px 300px 20px 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.menu-options{
    display: flex;
}
.column1{
    width: 30%;
}
.column2{
    width: 100%;
}
.list-group{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.column1 a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: 10px 0 10px 0;
    padding-left: 5px;
    transition: all .1s ease-in-out;
    height: 25px;
    display: flex;
    align-items: center;
}
.column1 a:hover{
    background-color: rgb(201, 241, 239);
    display: flex;
    align-items: center;
    height: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.list-group .active{
    font-weight: 600;
    background-color: rgb(174, 248, 244);
    display: flex;
    align-items: center;
    height: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contents{
    color:black;
    padding: 10px;
    overflow: hidden;
}
.profile-pic{
    display: flex;
    margin-left: 10px;

}
.profile-pic img{
    border: 1px solid #787272;
    width: 150px;
    height: 150px;
    margin: 10px;
}
.upload-btn{
    border: 1px solid;
    border-radius: 5px;
    background-color: lightblue;
    padding: 5px;
    font-size: 1rem;
    position: relative;
    top: 80%;
    margin-left: 10px;
    cursor: pointer;
}
hr{
    margin: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;  
    font-size: 16px; 
    padding: 10px;
}
.form-group input{
    height: 30px;
    font-size: 16px;
    color: #322f2f;
    padding-left: 10px;
    margin: 10px 0 10px 10px;
}
.form-group label{
    margin-left:10px ;
}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
.form-group .warning{
    background-color: rgb(241, 202, 202);
    padding: 5px;
    margin-bottom: 10px;
}
.form-group .comment{
    background-color:#ffffa7;
    padding: 5px;
    margin: 15px 0 10px 10px;
    text-align: center;
}
.warning a{
    text-decoration: none;
    color:rgb(7, 135, 255);
}
.warning a:hover{
    text-decoration: underline;
}
.btns{
    text-align: right;
    margin: 10px;  
}
.btns button{
    padding: 5px 10px 5px 10px;
    color: white;
    background: rgb(19, 157, 212);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btns :hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btns .cancle-btn{
    background: none;
    color: black;
}

/*Eror and Success Message*/
.column2.form-box.error-txt{
    background: rgb(238, 198, 198);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    font-size: 0.96rem;
    color: red;
    margin: 0px;
}
.success-txt{
    background: rgb(174, 217, 176);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    font-size: 0.96rem;
    color:green;
    margin: 0px;
}
h5{
    font-size: 16px;
    margin: 20px 0 10px 10px;
    align-items: center;
    text-decoration: none;
    color: black;
}
p{
    margin: 10px 0 20px 10px;
    align-items: center;
    font-size:16px;
    color: black
}
