* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(170deg, rgb(150, 200, 214) -40%, rgba(68, 165, 203, 0.95) 64%, rgba(255, 250, 250, 0.85) 64%, rgba(255, 250, 250, 0.85) 100%), url('../_images/BG.svg');
    background-position: center;
    background-size: cover;
    display: inline-block;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    width: 400px;
}