*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(170deg, rgb(150, 200, 214) -40%, rgba(68, 165, 203, 0.95) 64%, rgba(255, 250, 250, 0.85) 64%, rgba(255, 250, 250, 0.85) 100%), url('../_images/BG.svg');
    background-position: center;
    background-size: cover; 
    display: inline-block;
}
header{
    position: fixed;
    width:100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
   
}
.navbar{
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1350px;
    margin: 0 auto;
    justify-content: space-between;
}
.logo {
    width: 400px;
}
.navbar .logotext{
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.navbar .logotext h2{
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
}
.container{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    max-width: 720px;
    transform: translate(-50%, -70%);
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#ffffff;
    padding: 50px 60px 50px;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*Eror and Success Message*/
.form-box .input-group .error-txt{
    background: rgb(238, 198, 198);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    font-size: 0.96rem;
    color: red;
    margin: 0px;
}
.form-box .input-group .success-txt{
    background: rgb(174, 217, 176);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 15px;
    font-size: 0.96rem;
    color:green;
    margin: 0px;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 40px;
    color: #0091ca ;
    position: relative;
}
.form-box h1:after{
    content:'';
    width:30px;
    height:4px;
    border-radius:3px;
    background:#0091ca;
    position:absolute;
    bottom:-12px;
    left:50%;
    transform:translateX(-50%);
}
.input-field{
    font-size: 0.96rem;
    background:#eaeaea;
    margin: 10px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border:0;
    outline:0;
    padding: 15px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}
.form-box a{
    font-size: 0.96rem;
    text-decoration: none;
    color: #0091ca;
}
.form-box a:hover{
    text-decoration: underline;
}
.btn-field{
    width: 100%;
    display: flex; 
    justify-content: center;
}
.btn-field button{
    flex-basis:40%;
    font-size: 16px;
    background:#0091ca;
    color:white;
    font-weight: bold;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-field button:hover{
    background-color:#0091ca;
    transform: scale(1.01);
}


