*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
   /*Diamond shaped gradient
    background:linear-gradient(135deg, rgba(68, 165, 203, 0.95) 45%, transparent 25%), linear-gradient(225deg, rgba(68, 165, 203, 0.95) 45%, transparent 25%);
    background-color: white;
    */
    background-image:linear-gradient(170deg, rgb(150, 200, 214) -40%, rgba(68, 165, 203, 0.95) 64%, rgba(255, 250, 250, 0.85) 64%, rgba(255, 250, 250, 0.85) 100%),url('../_images/BG.svg');
    background-position: center;
    background-size: cover; 
    display: inline-block;
}
header{
    position: relative;
    width:100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px; 
}
.navbar{
    padding: 12px 5% 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    
}
.logo {
   width: 300px;
}
.logotext{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logotext h2{
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
}
.links{
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 7%;
    gap: 20px;
    top: 22px;
}
.login-btn{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    width: 70px;
    height: 25px;
}
.signup-btn{
    display:flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    border: 2px solid;
    border-color: #fff;
    border-radius: 3px;
    width: 70px;
    height: 25px;
}
.signup-btn:hover{
    color:lightseagreen;
    background: white;
    transition: 0.1s ease;
    transform:scale(1.05);
}
.profile{
    display: flex;
    position: absolute;
    justify-content: space-between;
    right: 7%;
    gap: 20px;
    top: 10px;
    width: 40px;
    max-height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 7%;
    width:320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    z-index: 2;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background:#fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 50px;
    max-height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link i{
    text-align: center;
    width: 40px;
    background: rgb(243, 241, 241);
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.info{
    top:100px;
    max-width: 500px;
    width: 500px;
    height:400px;
    display: flex;
    position: absolute;
    padding:50px 0 50px 50px;
    z-index: 10;
    margin-left: 100px;  
}
.info .define{
    margin-top: 70px;
    text-align: left;
    font-size: 1.8rem;
    font-weight:bold;
    color: white;
}

.container{
    max-width: 900px;
    top:100px;
    height:400px;
    display: flex;
    padding: 80px;
    z-index: 1;
    margin-left: 600px;
    gap: 50px;
    align-items: center;
    position:absolute; 
    flex-shrink: 3;
}
.box1{
    font-size: 1em;
    width: 350px;
    height: 150px;
    padding: 20px;
    border: 2px solid;
    border-color: #ffff;
    border-radius: 20px;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box1 h4{
    text-align: left;
    font-size: 1.125rem;
    margin-bottom: 5px; 
}
.box2{
    font-size: 1em;
    width: 350px;
    height: 150px;
    padding: 20px;
    border: 2px solid;
    border-color: #ffff;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box2 h4{
    text-align: left;
    font-size:1.125rem;
    margin-bottom: 5px; 
}

.click-btn{
    text-decoration: none;
    color: black;
    position: absolute;
    display: flex;
    bottom: 115px; 
    right: 80px;
    left: 80px;
    justify-content: space-between; 

}
.btn1{
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: #F7D587;
    border: 2px solid;
    border-color: #F1BC3F;
    border-radius: 5px;
    height: 22px;
    width: 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 240px;
}
.btn1:hover{
    background-color: #F2BE45;
}
.btn2{
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color:#F7D587;
    border: 2px solid;
    border-color: #F1BC3F;
    border-radius: 5px;
    height: 22px;
    width: 100px;
    text-align: center;
    justify-content: center;
    margin-right:20px;
}
.btn2:hover{
    background-color:#F1BC3F;
}



